.nav-conteiner{
    background-color: #FCCF00;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    color: #D01012;
}

/* .nav-logo{
    
} */

.nav-list{
    display: flex;
}

li{
    list-style: none;
    padding: 1%;   
}

.nav-item{
    text-decoration: none;
    font-weight: bold;

}

.nav-item:hover{
    color: #D01012;
}